#ic_progressNotifierViewHolder, #ic_header_view_holder, #ic_tsv_download_view_holder {
	display:none;
	width:95%;
	margin:0 auto;
}

#ic_progressNotifierViewHolder.rendered, #ic_header_view_holder.rendered, #ic_tsv_download_view_holder.rendered {
	display:block;
}

#ic_header_view_holder ul {
	padding:0;
}

#submission_permalink {
	width:90%;
	max-width:540px;
}

#ic_documentwrapper_view_holder span.verify_unknown {
	color:#BBB;
}

#ic_documentwrapper_view_holder span.verify_passed {
	color:#2F2;
}

#ic_documentwrapper_view_holder span.verify_failed {
	color:#F22;
}

/*GRAPH*/
.graph_holder {
	width:45%;
	margin-left:2.5%;
	float:left;
}

.graph_holder:nth-child(even) {
	clear:both;
	margin-left:0;
}

#ic_gps_coords_view_holder {
	width:90%;
	clear:both;
}

#ic_gps_coords_view_holder div.rendered {
	height:400px;
	width:45%;
	margin-left:2.5%;
	float:left;
}

.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

g.x.axis {
	display:none;
}

#ic_linechart_view_holder svg:first-child g.x.axis {
	display:block;
}

.x.axis path {
  display: none;
}

#ic_linechart_view_holder {
	width:90%;
	clear:both;
	position:relative;
}

#ic_linechart_view_holder svg {
	position:absolute;
	top:0;
	left:0;
	height:400px;
	width:100%;
}

#ic_linechart_view_holder #graph_controls {
	height:100px;
	width:722px;
	margin:410px auto 0 auto;
}

#ic_linechart_view_holder #graph_controls #graph_select {
	height:100px;
}

g .label {
	font-size:14pt;
}

.line, .line.acc_x {
  fill: none;
  stroke:#AAF;
  stroke-width: 1.5px;
}

.label.acc_x {
	fill:#AAF;
}

.line.acc_y {
	stroke:#FAA;
}

.label.acc_y {
	fill:#FAA;
}

.line.acc_z {
	stroke:#AFA;
}

.label.acc_z {
	fill:#AFA;
}


.x.axis .tick line{
	stroke:#FFF;
}

.line.pressureAltitude, .y.axis.pressureAltitude .tick {
	color:#AAF;
	stroke:#AAF;
}

.label.pressureAltitude {
	fill:#AAF;
}

.line.lightMeter, .y.axis.lightMeter .tick {
	color:#AFF;
	stroke:#AFF;
}

.label.lightMeter {
	fill:#AFF;
}

.line.GPSAccuracy, .y.axis.GPSAccuracy {
	color:#FAF;
	stroke:#FAF;
}

.label.GPSAccuracy {
	fill:#FAF;
}

.line.GPSBearing, .y.axis.GPSBearing {
	color:#FFA;
	stroke:#FFA;
}

.label.GPSBearing {
	fill:#FFA;
}

.line.pressureHPAOrMBAR, .y.axis.pressureHPAOrMBAR .tick {
	color:#AFA;
	stroke:#AFA;
}

.label.pressureHPAOrMBAR {
	fill:#AFA;
}

#ic_appended_user_data ul {
	margin-left:16px;
}

/*TSV PREVIEW*/
#export_tsv {
	cursor:pointer;
}

.tsv_export {
	width:90%;
	margin:0 auto;
}

.tsv_export td, .tsv_export th {
	padding:0 10px;
}

.tsv_export input[type=checkbox] {
	margin-right:10px;
}

.tsv_export td.no_export, .tsv_export th.no_export {
	color:#333;
}

#ic_submission_view_holder #ic_tsv_timestampdata h4 {
	display:none;
}

#ic_tsv_timestampdata .tsv_export input[type=checkbox] {
	display:none;
}

#ic_tsv_timestampdata h4:first-child + .tsv_export input[type=checkbox] {
	display:inline-block;
}





@media print {
	#ic_linechart_view_holder svg {
		position:static;
	}

	g.x.axis {
		display:block;
	}
	
	#ic_linechart_view_holder #graph_controls {
		display:none;
	}
}