body, html, #content {
	height:100%;
	width:100%;
}

body {
	background-color:#333;
	margin:0 !important;
}

div.tab_content {
  	position: absolute;
	top:47px;
	left:15px;
	right:15px;
	bottom:15px;
	background:#444;
}

/* the jq tabs */
#tabs ul {
  	margin:15px 15px 0 15px;
}
#tabs ul.inline li {
    margin-left:8px;
  	float: left;
	width: 120px;
	color: #999;
	background-color: #fed699;
	margin-bottom: 0;
}
#tabs ul.inline li:first-child {
  	margin: 0;
}


#tabs {
  	position: absolute;
	display: block;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#tabs .block {
  padding: 1.25em;
  display: none;
}

#tabs .block.active {
  display: block;
}
#tabs div.split {
  width: 45.96429%;
}

#tabs ul.controls a, .tab_content a.uv_button {
  padding: 0.63333em;
  display: block;
  background: #777;
  color: #FFF;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing:1px;
}

#metadata ul {
  	margin:8px 0 0 0;
}

#metadata ul.inline li {
	width:190px;
}

#metadata ul.controls a {
	font-size:.9em;
}

#tabs ul.controls a:hover {
  background: #EEE;
}

#tabs ul.controls li.active a {
	background: #FFF;
	color: #000;
	cursor:default;
}

#tabs ul.controls li.disabled a {
	background:#999;
	color:#666;
	cursor:default;
}

#tabs ul.inline li#search_tab {
	position:absolute;
	right:15px;
	margin:0;
}

.tab_content input, button, select, textarea, span {
  	margin: 0.5em;
}

.ic_url_instructions {
	display:none;
}

#ic_url_instructions_desktop {
	display:block;
}

#ic_url_holder {
	margin-top:200px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	#drag_drop_notice {
		display:none;
	}
	
	#ic_url_instructions_desktop {
		display:none;
	}
	
	#ic_url_instructions_smartphone {
		display:block;
	}
	
	#tabs {
		height:100%;
		width:100%;
		margin:0;
	}
	
	#tabs ul.inline li {
		width:90px;
	}
	
	#tabs ul.inline {
		padding:0;
	}
}





#ic_import_dropzone_holder, #uv_import_dropzone {
	width:90% !important;
	height:90% !important;
	position:absolute;
	top:5%;
	z-index:100;
}


#uv_import_dropzone.dz-drag-hover {
	transition:background-color 1s;
	-webkit-transition:background-color 1s;
	background-color:#CCF;
}

#header {
	display:none;
}

.dz-success-mark, .dz-error-mark, .dz-filename, .dz-size {
	display:none;
}

.dz-progress {
	width:20%;
	height:20px;
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	border:1px solid #999;
}

.dz-upload {
	height:20px;
	background:#DDD;
	position:absolute;
}

.ic_upload_instructions {
	text-align:center;
	margin-top:102px;
	position:absolute;
	left:0;
	right:0;
	display:none;
}

#ic_upload_instructions_desktop {
	display:block;
}

.dz-details img {
	margin:auto;
	position:absolute;
	top:-140px;
	left:0;
	bottom:0;
	right:0;
}

#search_content {
	width:50%;
	height:50%;
	min-height:300px;
	max-width:900px;
	min-width:650px;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:absolute;
}

#ic_search_button {
	width: 120px;
	position:absolute;
	right:0;
}

/* SEARCH MOCKUP 9/20015 JONNY */
.search_button {
	display:inline-block;
	width:20px;
	height:20px;
	position:relative;
	top:5px;
	cursor:pointer;
}
.search_plus {
	background-image:url(../images/bt_search_plus.png);
}
.search_minus {
	background-image:url(../images/bt_search_minus.png);
}
.search_option {
	display:none;
	height:20px;
}
.search_options_main {
	float:left;
	height:20px;
}
.by_result_type_options {
	display:block;
	float:left;
}

.search_advanced {
	display:none;
}

.search_date_start, .search_date_end {
	display:none;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	#ic_import_dropzone_holder, #uv_import_dropzone {
		width:auto !important;
		height:auto !important;
		left:20px;
		right:20px;
		bottom:20px;
		top:0;
		display:none;
	}

	#ic_upload_instructions_desktop {
		display:none;
	}
	#ic_upload_instructions_smartphone {
		display:block;
	}
}
