<!--	<div id="ic_visual_search_holder"></div>
	<a onclick="toggleElement('#ic_extended_search_holder');">[ Advanced ]</a>
	<div id="ic_extended_search_holder" class="uv_toggle_none">
		<div id="ic_av_search_root">
			<span>Get</span>
			<select id="ic_av_search_type">
				<option value="any">any media</option>
				<option value="image/jpeg">images</option>
				<option value="video/x-matroska">video</option>
				<option value="informacam/log">logs</option>
				<option value="application/pgp">submitter</option>
			</select>
			<span id="ic_av_add_clause">that...</span>
			<ul id="ic_av_search_clause_holder"></ul>
		</div>
	</div>
	<div><a class="uv_button" id="ic_search_button">Search</a></div>
-->

<!-- new search mockup -->
<form>
	<input type="text" placeholder="Search" name="search_text" id="search_text">
	<span class="search_plus search_button" id="advanced"></span>
	<br>
	<div class="search_advanced">
		<div class="search_options_main">
			<select>
				<option value="by_result_type">Search For</option>
				<option value="by_date_created">Date Created</option>
				<option value="by_location">Location</option>
				<option value="by_source_j3m">Source J3M</option>
				<option value="by_broadcast">Broadcast</option>
				<option value="by_source_alias">Source Alias</option>
				<option value="by_source_email">Source Email</option>
				<option value="by_alias">Alias</option>
				<option value="by_mime_type">MIME Type</option>
				<option value="by_public_hash">Public Hash</option>
				<option value="by_asset">With Asset</option>
			</select>
		</div>
		<div class="by_result_type_options search_option">	
			<select>
				<option value="any">Any Media</option>
				<option value="images">Images</option>
				<option value="video">Video</option>
				<option value="logs">Logs</option>
				<option value="submitter">Submitter</option>
			</select>
		</div>
		<div class="by_date_created_options search_option">
			<select>
				<option value="date_created_on">Were taken on</option>
				<option value="date_created_between">Were taken between</option>
			</select>
			<input type="text" value="" placeholder="Date" class="search_date">
			<input type="text" value="" placeholder="Start Date" class="search_date_start">
			<input type="text" value="" placeholder="End Date" class="search_date_end">
		</div>
		<div class="by_location_options search_option">
			Within <input type="text" value=""> miles of <input type="text" value="" placeholder="latitude"> and <input type="text" value="" placeholder="longitude">
		</div>
		<div class="by_source_j3m_options search_option">
			<select>
				<option value="">PGP Fingerprint</option>
				<option value="">Alias</option>
			</select>
			<input type="text" value="">
		</div>
		<div class="by_broadcast_options search_option">
			<label>In View Of</label>
			<select>
				<option value="">Cell Tower</option>
				<option value="">Wifi BSSID</option>
				<option value="">Bluetooth Hash</option>
			</select>
			<input type="text" value="">
		</div>
		<div class="by_source_alias_options search_option">
			<select>
				<option value="">PGP Fingerprint</option>
				<option value="">Alias</option>
			</select>
			<input type="text" value="">
		</div>
		<div class="by_source_email_options search_option">
			<input type="text" placeholder="Source Email Address">
		</div>
		<div class="by_alias_options search_option">
			<input type="text" placeholder="Alias">
		</div>
		<div class="by_mime_type_options search_option">
			<select>
				<option value="txt">text/plain</option>
				<option value="zip">application/zip</option>
				<option value="image">image/jpeg</option>
				<option value="wildcard">application/octet-stream</option>
				<option value="pgp">application/pgp</option>
				<option value="gzip">application/x-gzip</option>
				<option value="json">application/json</option>
			</select>
		</div>
		<div class="by_public_hash_options search_option">
			<input type="text" placeholder="Public Hash">
		</div>
		<div class="by_asset_options search_option">
			<select>
				<option value="J3M">j3m</option>
				<option value="PGP_KEY">pgp_key</option>
				<option value="THUMB">thumbnail</option>
				<option value="HIGH">hi_res</option>
				<option value="MED">medium_res</option>
				<option value="LOW">low_res</option>
			</select>
		</div>
		<span class="search_plus search_button"></span>
		<span class="search_minus search_button"></span>
	</div><!--.search_advanced-->
</form>